html, body
{
	height: 100%;
	font-family: 'Roboto';
}

.loading-progress
{
	grid-area: 1 / 1;
	width: 8rem;
	height: 8rem;
}

.loading-progress circle
{
	fill: none;
	stroke: #e0e0e0;
	stroke-width: 0.2rem;
	transform-origin: 50% 50%;
	transform: rotate(-90deg);
}

.loading-progress circle:last-child
{
	stroke: #1b6ec2;
	stroke-dasharray: calc(3.1415 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
	transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text
{
	grid-area: 1 / 1;
	text-align: center;
	font-weight: bold;
}

.loading-progress-text:after
{
	content: var(--blazor-load-percentage-text, "Loading");
}

textarea
{
	resize: none;
}

.cover-img
{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.btn-outline-success:hover
{
	background-color:gray;
}

.cursor-pointer
{
	cursor: pointer;
}

.white-space-pre-line
{
	white-space: pre-line;
}

.message:hover
{
	filter: brightness(80%);
}

.vsplit
{
	display: flex;
	flex-direction: row;
}

.vsplit:before,.vsplit:after
{
	content: "";
	flex: 1 1;
	border-bottom: 1px solid;
	margin: auto;
}

.vsplit:before
{
	margin-right: 10px
}

.vsplit:after
{
	margin-left: 10px
}

a.nav
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a.disabled
{
	pointer-events: none;
}

span.notify-bubble
{
	position: absolute;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

i.large
{
	font-size: 10rem;
}

img.large
{
	max-width: 100%;
	object-fit: scale-down;
}

img.avatar
{
	object-fit: cover;
	width: 128px;
	height: 128px;
	line-height: 128px;
	text-align: center;
}

img.avatar-small
{
	object-fit: cover;
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;
}

img.avatar-tiny
{
	object-fit: cover;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]
{
	-moz-appearance: textfield;
}

#app
{
	display: grid;
	place-items: center;
}

#blazor-error-ui
{
	display: none;
}
