@inject IStringLocalizer<SharedResource> Loc

<div class="card-body text-center p-4">
	<div class="d-flex align-items-center">
		<h5 class="m-0 w-100 text-center">
			<strong>@Loc["Error"]</strong
		</h5>
	</div>

	<i class="large fas fa-dizzy text-secondary mt-3"></i>
</div>