@inject IStringLocalizer<SharedResource> Loc
@inject AccountService AccountService
@inject HttpService HttpService
@inject NotificationService NotificationService

@if (_IsRequesting)
{
	<SpinnerComponent />
}

else if (_GetResponse == null || _GetResponse.Error != null)
{
	<ErrorComponent />
}

else if (_GetResponse.CompactProfiles == null || _GetResponse.CompactProfiles.Count() <= 0)
{
	<EmptyComponent />
}

else
{
	<div class="card-body">
		<PaginationComponent
			PageLink=@PageLink
			PageIndex=@PageIndex
			MaxPageButtonRange=2
			ItemsPerPage=@ApiRequestConstants.MATCH_GET_CHOICES_LOAD_COUNT
			ItemCount=@_GetResponse.TotalProfiles
			ShowStartEndButtons=true />

		@foreach (var CompactProfile in _GetResponse.CompactProfiles)
		{
			<ProfileCompactComponent
				CompactProfile=@CompactProfile
				CssClass="bg-secondary border-0 rounded p-3 my-1"
				ActiveCssClass="bg-primary border-0 rounded p-3 my-1"
				ProfileCssClass="border-0 my-1"
				ShowReportButton=true
				ShowRateButtons=true
				ProfileClick="OnProfileClick"
				RateClick="@GetChoicesAsync" />
		}
	</div>
}
