<div class="card text-center">
	<div class="card-header bg-primary p-1">
		<strong>@Title</strong>
	</div>
	<div class="card-body p-3">
		<div class="d-flex justify-content-center align-items-center">
			@if (!String.IsNullOrEmpty(IconClasses))
			{
				<i class="fas fa-2x fa-fw me-3 @IconClasses"></i>
			}
			<span class="@ContentClasses">@Content</span>
		</div>
	</div>
</div>
