<button type="button" class="@CssClass" @onclick="Click" disabled="@IsDisabled">
	@if (IsSubmitting)
	{
		<div class="spinner-border spinner-border-sm"></div>
	}

	else
	{
		@Text
	}
</button>

@code
{
	//===========================================================================================
	// Global Variables
	//===========================================================================================
	#region Properties
	[Parameter]
	public String CssClass { get; set; }
	[Parameter]
	public String Text { get; set; }
	[Parameter]
	public Boolean IsSubmitting { get; set; }
	[Parameter]
	public Boolean IsDisabled { get; set; }
	[Parameter]
	public EventCallback Click { get; set; }
	#endregion
}